@import "compass";
@import "_/fonts";
@import "_/mixins";
@import "_/screen_main";
@import "_/screen_game";
@import "_/screen_prizes";
@import "_/debug";
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,300&subset=latin,cyrillic);

$blue: #213767;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.everything-container { 
  @include fullsize(fixed); 
  box-sizing: border-box; 
  padding: 16px; overflow:hidden;
}
.everything-inner {border-radius: 16px; overflow: hidden;  @include fullsize(relative);}

.screen, .screen-inner {
  @include fullsize(absolute);
}

.screen {
  background: image-url('bg-screen.png') 50% 50% no-repeat;
  background-size: cover;
}

.screen-clouds {
  position: absolute;
  width: 100%;
  height: 100%;
  background: image-url('screen-clouds.png') 50% 50% no-repeat;
  pointer-events: none;
}

.screen.hidden {
  opacity: 0;
  left: 100%;
      pointer-events: none;
}

.screen-inner {position: relative;}


.nav-menu {
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;
}

.menu-item {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  padding-bottom:6px;
  border-bottom:0px solid transparent;
  @include single-transition(border-bottom, 0.3s, ease);
  &.active {border-bottom:2px solid #fff; cursor:default;}
  &.forcedisabled {pointer-events:none; opacity:0.5;}
}




.logo {
  display: block;
  position: fixed;
  bottom: 15px;
  right: 9px;
  width: 254px;
  height: 65px;
  background: image-url("logo.png");
  a {display: block; width: 50%; float: left; height: 100%;}
}




.popup {  display: none;}
.popup-container {@include fullsize(absolute);}

.popup-overlay {
  position: absolute; top:0; left:0; width: 100%; height: 100%;
  cursor: pointer;
  // http://colorzilla.com/gradient-editor/#213465+0,1b99a8+100&0.43+0,0.43+100
  @include filter-gradient(#213465, #1b99a8, vertical); // IE6-9
  @include background-image(linear-gradient(top, #213465 0%, #1b99a8 100%));
  opacity:0.6;
}

.popup-popup {
  width: 407px; height: 232px; background: #fff;
  position: absolute; top:50%; left:50%;
  margin: -116px 0 0 -203px;
  border-radius:15px;
  color:#373737;
  text-align: center;
}
.popup-left {position: absolute; bottom:0; left:-43px; width: 201px; height: 65px; background:inline-image('base64/popup-left.png');}
.popup-right {position: absolute; bottom:-34px; right:-53px; width: 112px; height: 104px; background:inline-image('base64/popup-right.png');}
.popup-top {position: absolute; top:-31px; right:0px; width: 201px; height: 65px; background:inline-image('base64/popup-top.png');}


.popup_start {
  font-size:18px; line-height: 22px;
  .popup-inner {padding: 65px 50px 0;}
  a {color:$blue; text-decoration: underline;}
  .buttons-container {padding-top: 20px;}
  a.auth-button {
    display: inline-block;
    position: relative;
    text-decoration: none;
    width:30px;
    line-height: 30px;
    height: 30px;
    text-align: center;
    border:1px solid $blue;
    margin:0 10px;
    &:hover {color:#fff; background:$blue;}
    &.auth-button_vk {}
    &.auth-button_fb {}
    &.auth-button_forcefb {width: auto; padding: 0 10px;}
  }
  .buttons-container.anonse a.auth-button {
    &.auth-button_vk {@include animation(spin, 0.5s, ease-in-out, 1);}
    &.auth-button_fb {@include animation(spin_reverse, 0.5s, ease-in-out, 1);}
  }
  .loader {width: 100px; height: 100px; margin: 0px auto; position: relative;}
}

.popup_finish {
  font-size:18px; line-height: 22px;
  .popup-inner {position: relative; text-align: center; height: 100%;}

}
.popup_finish-centered-content {
  position: absolute; top:50%; left:50%;
  @include transform(translate(-50%,-50%)); 
}

.popup_finish-cloud {
  color:$blue; font-size:18px; line-height: 22px; font-weight: bold;
  @include imgtobg64('base64/popup_finish-cloud.png');
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.popup_finish-cloud-inner {    padding: 38px 0 0;}
.popup_finish-cloud-bottom {font-size:32px;    line-height: 40px;}
.popup_finish-plane-position {margin: 0px auto 25px; }
.popup_finish-end { 
  color:#fff; 
  font-size:30px;
  vertical-align: middle;
  margin-left: 10px;
  border-bottom: 2px dotted #fff;
  padding-bottom: 5px;
  text-decoration: none;
}
.popup_finish-plane {@include imgtobg64('base64/popup_finish-plane.png'); display: inline-block;vertical-align: middle;}
.popup_finish-share-container {height: 20px; line-height: 20px; vertical-align: middle; margin-bottom: 45px;}
.popup_finish-share {
  display: inline-block; margin: 0 20px; cursor: pointer; opacity:0.9;
  &:hover {opacity:1;}
}
.popup_finish-share_fb {@include imgtobg64('base64/share-fb.png'); }
.popup_finish-share_vk {@include imgtobg64('base64/share-vk.png'); }
.popup_finish-copy1 {
  color:#fff; font-size: 16px; line-height: 20px; font-weight: bold;
  a {color:#fff;}
}
// .popup_finish-copy2  {position: absolute; bottom:0; }

.popup_pause {
  font-size:18px; line-height: 22px;
  .popup-inner {padding: 40px 50px 0;}
}

.popup_pause-blue {
  color:$blue; font-weight: bold;
  margin-bottom: 12px;
}

.popup_pause-black {
  color:#373737;
  padding: 0 10px;
  margin-bottom: 35px;
}
.popup_pause-ok {
  font-size: 30px; font-weight: bold;
  color:$blue;
  cursor: pointer;
}

.popup-snoska  {
  position: absolute;
  bottom:10px;
  width: 100%; text-align: center;
  color:#fff;
  font-size: 14px;
  a {color:#fff; }
} 


.bottom-snoska {position: absolute; bottom:10px; width: 100%; text-align: center; color:#fff;}


@media only screen and (max-height: 700px) {
  .prizes-line {margin-top: 20px;}
}

@media only screen and (max-height: 650px) {
  .main-slogan {width: 182px;height: 65px; background-size: 100%;}
  .main-copy_2 {font-size: 17px;line-height: 21px;}
  .prizes-sponsor-right-inner {font-size: 14px;}
}

@media only screen and (max-height: 600px) {
  .prizes-columns {padding-top: 7%;}
}

@media only screen and (max-height: 550px) {
  .main-copy_2 {font-size: 14px; line-height: 17px;}
  .main-scrollwheel {margin: 15px auto 0;}
}
